<link rel="stylesheet" href="~/css/site.css">

<header>
	<h1>Clicker Game</h1>
	<p>Joachim Berchel</p>
	<div>
		<a href="https://github.com/joaberch" target="_blank">
			<img src="~/img/GitHub_logo.png" alt="GitHub" height="30">
		</a>
		<a href="mailto:joachimsimeongabriel.berchel@eduvaud.ch" target="_blank">
			<img src="~/img/outlook-logo.png" alt="Outlook" height="30">
		</a>
	</div>
</header>
<main>
	<div id="playground">
		<p id="nbrClick">0</p>
		<img src="~/img/go-remove.png" alt="Golang logo clickable" width="250" onclick="clicked()"
			 ondragstart="return false" ondrag="return false">
		<!--<button onclick="clicked()">click substitution</button>-->
		<h2>Click!!!</h2>
		<p id="gains">gains : 1</p>
		<p id="restart">restart : 0</p>
		<div id="topcorner">
			<button class="button" onclick="moreRestart()">+1 restart / 100q</button>
		</div>
		<div id="topLeftCorner">
			<p><p>User : not connected<span id="currentUser"></span></p>
		</div>
	</div>
</main>
<footer>
	<div id="shop">
		<button class="button" onclick="moreClick(1)">+1 Click (cost 10)</button>
		<button class="button" onclick="moreClick(10)">+10 Click (cost 100)</button>
		<button class="button" onclick="moreClick(100)">+100 Click (cost 1'000)</button>
		<button class="button" onclick="moreClick(1000)">+1K Click (cost 10K)</button>
		<button class="button" onclick="moreClick(10000)">+10K Click (cost 100K)</button>
		<button class="button" onclick="moreClick(100000)">+100K Click (cost 1M)</button>
		<button class="button" onclick="moreClick(1000000)">+1M Click (cost 10M)</button>
		<button class="button" onclick="moreClick(10000000)">+10M Click (cost 100M)</button>
		<button class="button" onclick="moreClick(100000000)">+100M Click (cost 1B)</button>
		<button class="button" onclick="moreClick(1000000000)">+1B Click (cost 10B)</button>
		<button class="button" onclick="moreClick(10000000000)">+10B Click (cost 100B)</button>
		<button class="button" onclick="moreClick(100000000000)">+100B Click (cost 1T)</button>
		<button class="button" onclick="moreClick(1000000000000)">+1T Click (cost 10T)</button>
		<button class="button" onclick="moreClick(10000000000000)">+10T Click (cost 100T)</button>
		<button class="button" onclick="moreClick('2')">+MAX Click (cost ALL)</button>
	</div>
</footer>
